<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="bruh.uno" />
    <meta name="keywords" content="bruh" />
    <meta name="author" content="humanova" />
    <title>bruh</title>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-122598984-6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-122598984-6');
    </script>
  </head>
  <body>
    <iframe style="position: absolute; top: 0; left: 0;"src="https://www.youtube.com/embed/NzishIREebw?autoplay=1&controls=0&loop=1&playlist=xjrXAHLwhuo&amp;showinfo=0" width="100%" height="100%" frameborder="0" allow="autoplay" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  </body>
</html>
